#decor {
    color: #fff;
    background-color: #17c6aa;
    padding-top: 50px;
    padding-bottom: 50px;
    @extend .mt-5;
}

.subscribe_form_title_lg {
    font-size: 90px;
    font-weight: 600;
    line-height: 1.2em;
    margin-left: -0.05em;
    color: #fff;
}

.subscribe_form_title_sm {
    font-size: 30px;
    line-height: 1em;
    color: #fff;
}