$main-color: #17c6aa;
$primary-color: #a5a6ac;
$secondary-color:#8d92a3;
$tertiary-color:#ffd400;
$black-color: black;
$electric-purple-color: #ad1fea;
$ultramarine-blue-color: #4661e6;
$rhino-blue-color: #373f68;
$white-color: #ffffff;
$magnolia-color: #f2f4ff;
$ghost-white-color: #f7f8fd;
$rhino-color: #3a4374;
$waikawa-grey-color: #647196;
$blush-color: #f49f85;
$crystal-blue: #62bcfa;
$Tropical-Blue-color: #cfd7ff;
$catskill-white: #f2f4fe;
$moonraker-color: #cdd2ee;


.background-rhino-blue-color {
  background: $rhino-blue-color;
}

.background-electric-purple-color {
  background: $electric-purple-color;
}

.background-main-color {
  background: $main-color;
}

.background-white-color {
  background: $white-color;
}

.color-white {
  color: $white-color;
}

.color-black {
  color: $black-color;
}

.color-moonraker {
  color: $moonraker-color;
}

.color-waikawa-grey {
  color: $waikawa-grey-color;
}

.color-rhino {
  color: $rhino-color;
}

.color-blush {
  color: $blush-color;
}

.color-electric-purple {
  color: $electric-purple-color;
}

.color-crystal-blue {
  color: $crystal-blue;
}

.color-catskill-white {
  color: $catskill-white;
}