.color-white {
  color: $white-color;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-size-x {
  font-size: $space-x;
}

.font-size-2x {
  font-size: $space-2x;
}

.font-size-3x {
  font-size: $space-3x;
}

.font-size-4x {
  font-size: $space-4x;
}

.font-size-5x {
  font-size: $space-5x;
}

.font-size-6x {
  font-size: $space-6x;
}

.font-size-8x {
  font-size: $space-8x;
}

.font-size-10x {
  font-size: $space-10x;
}

.line-height-x {
  line-height: $space-x;
}

.line-height-2x {
  line-height: $space-2x;
}

.line-height-3x {
  line-height: $space-3x;
}

.line-height-4x {
  line-height: $space-4x;
}

.line-height-5x {
  line-height: $space-5x;
}

.line-height-6x {
  line-height: $space-6x;
}

.line-height-7x {
  line-height: $space-7x;
}

.line-height-10x {
  line-height: $space-10x;
}

.background-size-cover {
  background-size: cover;
}

.background-position-center {
  background-position: center center;
}

.background-repeat-noRepeat {
  background-repeat: no-repeat;
}